#textdomain wesnoth-Saving_Elensefar_Redux

[scenario]
    id=sea_voyage_02
    next_scenario=sea_voyage_0
    name= _ "A Naval Engagement"
    map_data="{~add-ons/Saving_Elensefar_Redux/maps/02-A_Naval_Engagement.map}"
    random_start_time=no

    turns=24

    {SAVING_ELENSEFAR_SHEDULE}
    {MOOD_BATTLE}

    {DEATHS_SEA}
    {NO_RECRUITS}
    {GIVE_EXP 10}
    {GIVE_LOYAL}

    [side]
        side=1
        [leader]
            {MENELDUR}
        [/leader]

        {HUMAN_SIDE}

        gold=200
    [/side]

    [side]
        side=2
        [leader]
            id=Aldran
            name= _ "Aldran"
            profile="portraits/humans/duelist.png"
            type=Master at Arms
        [/leader]

        gold=200
        recruit="Spearman,Bowman,Mage,Fencer"
        user_team_name= _"Wesnoth Army"

        {BAD_AI}
        {FLAG_VARIANT loyalist}

        {GENERIC_AI}
        {PROTECT location (x,y=15,18)}
    [/side]

    {LIMIT_RECRUITS 2 ("Young Ogre") 2}

    {LIMIT_CONTEMPORANEOUS_RECRUITS 2 ("Bowman") 4}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 2 ("Fencer") 3}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 2 ("Mage") 2}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 2 ("Spearman") 6}

    [side]
        side=3
        [leader]
            {BLACK_THE_RED}
        [/leader]

        gold=150
        user_team_name= _"Pirates"
        recruit="Thief,Thug,Ruffian"

        {FLAG_VARIANT long}

        {NEUTRAL_AI}

        [ai]
            grouping=defensive
            #aggression=0.9
            #caution=0.1
            leader_value=0.0
            village_value=0.0
        [/ai]
        {PROTECT unit (id="Black the Red")}
        {FOCUS_ON_SIDE 2}
    [/side]

    [event]
        name=prestart

        [objectives]
            [objective]
                description= _ "Defeat enemy leader"
                condition=win
            [/objective]
            {DEATH_OF_LEADERS}
            {TURNS_RUN_OUT}
            {SER_GOLD_CARRYOVER}
        [/objectives]

        [micro_ai]
            side=3
            action=add
            ai_type=bottleneck_defense
            #ca_score=90000

            active_side_leader=no
            x=7,7
            y=18,20
            enemy_x=8,8
            enemy_y=18,20
            leadership_x=6,6,6,6,6
            leadership_y=19,18,20,21,17
        [/micro_ai]
    [/event]

#define GUARD_NAVAL SIDE TYPE X Y WML
    [unit]
        type={TYPE}
        side={SIDE}
        x,y={X},{Y}
        [modifications]
            {TRAIT_LOYAL}
        [/modifications]
        {IS_LOYAL}
        {WML}
    [/unit]
#enddef

    [event]
        name=side turn

        {GUARD_NAVAL 3 Thug 6 17 (random_traits=yes)}
        {GUARD_NAVAL 3 Outlaw 6 18 (random_traits=yes)}
        {GUARD_NAVAL 3 Rogue 6 20 (random_traits=yes)}

        {GUARD_NAVAL 2 Spearman 11 16 (ai_special,moves=guardian,0)}
        {GUARD_NAVAL 2 ("Young Ogre") 13 17 (ai_special,moves=guardian,0)}

        {GUARD_NAVAL 2 Bowman 14 13 (ai_special=guardian)}
        {GUARD_NAVAL 2 Spearman 16 14 (ai_special=guardian)}

        {GUARD_NAVAL 2 ("White Mage") 14 15 (ai_special=guardian)}

        {SEARCH_NEAREST id=Meneldur ("*^Vyb") 8}
        [recall]
            id=Madru
            x,y=$location.x,$location.y
        [/recall]
        #{MODIFY_UNIT (x,y=$location.x,$location.y) moves 0}

        {SEARCH_NEAREST id=Meneldur ("*^Vyb") 8}
        [recall]
            x,y=$location.x,$location.y
        [/recall]
        [object]
            silent=yes
            duration=scenario
            take_only_once=no
            [filter]
                x,y=$location.x,$location.y
            [/filter]
            [effect]
                apply_to=loyal
            [/effect]
        [/object]
        #{MODIFY_UNIT (x,y=$location.x,$location.y) moves 0}

        {CLEAR_VARIABLE location}

        [message]
            id=Meneldur
            message= _ "Why do you stop us? We seek help. I come from Elensefar, which, as far as we can tell, was just captured by orcs!"
        [/message]
        [message]
            id=Aldran
            message= _ "You are interfering with our mission; we are trying to chase down this magician pirate."
        [/message]
        [message]
            id="Black the Red"
            message= _ "I'm not a pirate! I also come from Elensefar, and I left port a few weeks before it was attacked. This is the first that I've heard of it."
        [/message]
        [message]
            id=Aldran
            message= _ "You dog, don't bother us with your lies! You attacked a ship of the Royal Navy with your spells, and now you will pay for it!"
        [/message]
        [message]
            id=Meneldur
            message= _ "I need loyal warriors from Elensefar to help me on my quest. Black the Red, do you want to join me in retaking Elensefar from these orcs?"
        [/message]
        [message]
            id=Aldran
            message= _ "Outlaws, you mean! These Elensians are all the same. Troops, destroy them!"
        [/message]
        [message]
            id=Meneldur
            message= _ "Why is a ship from Elensefar carrying bandits and thieves?"
        [/message]
        [message]
            id="Black the Red"
            message= _ "They come from the... less <i>wealthy</i> parts of Elensefar. But they are still fiercely loyal to it. They will be good fighters. I will join, if you'll have me."
        [/message]
        [message]
            id=Meneldur
            message= _ "Very well. Thats not so different from my own crew. Aldran - we will not fight you if you do not attack us, but you must let us go on our way."
        [/message]
        [message]
            id=Aldran
            message= _ "Ha! I will bring you and your ally in to Weldyn to be tried for treason. And it does not matter it is two boats to one; I have already sent a boat to inform the King, and get reinforcements."
        [/message]
        [message]
            id=Madru
            message= _ "Remember, crew, the healing grog is stored in those barrels."
        [/message]
    [/event]

    # Help message
    [event]
        name=turn refresh
        first_time_only=no

        [filter_condition]
            {VARIABLE_CONDITIONAL healedyet not_equals yes}
        [/filter_condition]

        [store_unit]
            [filter]
                side=$side_number
                formula="hitpoints < max_hitpoints"
                [filter_location]
                    terrain=*^Vyb
                [/filter_location]
            [/filter]
            variable=temp
        [/store_unit]

        [if]
            {VARIABLE_CONDITIONAL temp.length greater_than 0}
            [then]
                [message]
                    id="$temp[0].id"
                    message= _ "Ah, some nice, refreshing grog! *gulp*"
                [/message]
                [message]
                    speaker=narrator
                    message= _ "Drinking the grog heals your units!"
                    image=wesnoth-icon.png
                [/message]
                {VARIABLE healedyet yes}
            [/then]
        [/if]
    [/event]

    # 'recruit' one Bandit
    [event]
        name=side 3 turn

        [unit]
            side=3
            type=Bandit
            placement=leader
            animate=yes
            moves=0
        [/unit]
    [/event]

    [event]
        name=last breath

        [filter]
            side=2
            canrecruit=yes
        [/filter]

        [message]
            id="Black the Red"
            message= _ "Well, what is it anyway that you people want? Why did you help us?"
        [/message]
        [message]
            id=Meneldur
            message= _ "We go out to sea, to build up an army large enough to retake Elensefar. You're an Elensian, right? I think you owe us your help. We did just save you from death, and now we have the men of Wesnoth against us in return."
        [/message]
        [message]
            id="Black the Red"
            message= _ "Well, I have been in Elensefar, and owe some help to it. Very well. Here is what I will do. There is an island in the west that has many warriors on it who will be willing to help you; I will join you, and try to convince those warriors to also, if you grant me one request."
        [/message]
        [message]
            id=Madru
            message= _ "Which is?"
        [/message]
        [message]
            id="Black the Red"
            message= _ "I can't tell you until we reach the Western isle I told you about. That's part of the fun."
        [/message]
        [message]
            id=Meneldur
            message= _ "Oh, fine... 'I swear on Elensefar my city and on my honor as a Sailor that I will honor your request, whatever it may be, whenever we reach this Western island and you secure the help of the warriors that live there.' Happy?"
        [/message]
        [message]
            id="Black the Red"
            message= _ "Very much so. Now, I will move my troops to your boat (it is faster), and we will head on west..."
        [/message]

        [modify_unit]
            [filter]
                side=3
            [/filter]
            side=1
        [/modify_unit]

        [gold]
            side=1
            amount="200"
        [/gold]

        {CLEAR_VARIABLE healedyet}

        {JOIN_CREW 2 1}
        {SE_ENDLEVEL 0}
    [/event]
[/scenario]
