#textdomain wesnoth-Saving_Elensefar_Redux

[scenario]
    id=sea_voyage_blackmore
    next_scenario=sea_voyage_fake2
    name= _ "Blackmore the Black"
    map_data="{~add-ons/Saving_Elensefar_Redux/maps/03-Blackmore_the_Black.map}"
    random_start_time=no

    turns=24

    {SAVING_ELENSEFAR_SHEDULE}
    {MOOD_SAD}

    {DEATHS_SEA}
    {RECRUIT_LIMIT 6}
    {GIVE_EXP 10}

    [side]
        side=1
        [leader]
            {MENELDUR}
        [/leader]

        {HUMAN_SIDE}
    [/side]

    [side]
        side=2
        [leader]
            {AH-REBLAK}
        [/leader]

        gold=200
        recruit="Skeleton,Skeleton Archer,Walking Corpse,Ghoul,Ghost,Vampire Bat,Peasant"
        user_team_name= _"Undead-Elf-Alliance"

        {FLAG_VARIANT undead}
        {GOOD_AI}

        [ai]
            grouping=defensive
            #aggression=0.9
            #caution=0.1
            leader_value=0.0
            village_value=0.0
        [/ai]
        {PROTECT unit (id=Ah-Reblak)}
        {FOCUS_ON_SIDE 3}
    [/side]

    {RECRUIT_UNIT_VARIATIONS 2 ("Walking Corpse") wose,wose,troll,none}
    {RECRUIT_UNIT_VARIATIONS 2 ("Soulless") wose,wose,troll,none}

    [side]
        side=3
        [leader]
            id=Bahtak
            name= _"Bahtak"
            type=Orcish Warlord
        [/leader]

        gold=200
        recruit=Orcish Warrior,Orcish Assassin,Orcish Slayer,Goblin Knight,Orcish Crossbowman
        user_team_name= _"Revolting Orcs"

        {BAD_AI}
        {FLAG_VARIANT6 ragged}

        {GENERIC_AI}
    [/side]

    [side]
        side=4
        [leader]
            id=Ahtanuk
            name= _"Ahtanuk"
            type=Orcish Warlord
        [/leader]

        gold=200
        recruit=Orcish Warrior,Orcish Assassin,Orcish Slayer,Goblin Knight,Orcish Crossbowman
        user_team_name= _"Revolting Orcs"

        {BAD_AI}
        {FLAG_VARIANT6 ragged}

        {GENERIC_AI}
    [/side]

    {STARTING_VILLAGES 2 6}
    {STARTING_VILLAGES 3 6}
    {STARTING_VILLAGES 4 6}

    [event]
        name=prestart

        [objectives]
            [objective]
                description= _ "Defeat enemy leaders"
                condition=win
            [/objective]
            {DEATH_OF_LEADERS}
            {TURNS_RUN_OUT}
            {SER_GOLD_CARRYOVER}
        [/objectives]
    [/event]

    {START_A_SCENE 32 16 27 13 29 13 blackmore RETREAT=no}

    [event]
        name=side turn

        [message]
            id=Meneldur
            message= _ "Black, why have you brought us here?!? This is just a remnant of a town, and there are no warriors here, just undead and orcs!"
        [/message]
        [message]
            id="Black the Red"
            message= _ "No, no, you are wrong there. This is no ruined city, this is Blackmore the Black, and for the past seventy years it has been the home of the Wesfolk who remained on this island."
        [/message]
        [message]
            id=Madru
            message= _ "You mean those undead over there are 'Wesfolk'? As in the Wesfolk who came over with Lady Jessica?"
        [/message]
        [message]
            id=Meneldur
            message= _ "I would assume that is what he means, yes. So, Black, you've brought us here to have these Wesfolk help us?"
        [/message]
        [message]
            id="Black the Red"
            message= _ "Well, yes, something like that."
        [/message]
        [message]
            id=Ah-Reblak
            message= _ "I see, brother, that you have returned with warriors. Are they to help us defeat these orcs?"
        [/message]
        [message]
            id=Meneldur
            message= _ "What? That's not why we're here!"
        [/message]
        [message]
            id="Black the Red"
            message= _ "Well, yes it is. You have to help them secure this city before they will help you."
        [/message]
        [message]
            id=Ah-Reblak
            message= _ "Help them? Help Islefolk? Why would we do that?"
        [/message]
        [message]
            id="Black the Red"
            message= _ "These are not Islefolk, brother, they are descendants of the Wesfolk who came over with Lady Jessica."
        [/message]
        [message]
            id=Ah-Reblak
            message= _ "What!? Followers of that deserter!? I can't believe you think we would help them!"
        [/message]
        [message]
            id="Black the Red"
            message= _ "I didn't have a choice, they needed help, so I made a deal that we would help them if they helped us."
        [/message]
        [message]
            id=Meneldur
            message= _ "Trust me, we don't like helping undead any more than you like helping us 'deserters'."
        [/message]
        [message]
            id=Ah-Reblak
            message= _ "Fine. I'll help you do whatever it is you want to do, once we clear this land of the orcs."
        [/message]

        {VARIABLE_OP random rand "2..6"}
        [message]
            id=Ahtanuk
            image="portraits/orcs/grunt-$random|.png"
            message= _ "Int'resting council! But now, little men, its time to die. Get'm!"
        [/message]
        {CLEAR_VARIABLE random}

        [gold]
            side=1
            amount=175
        [/gold]
    [/event]

    [event]
        name=last breath

        [filter]
            id=Ah-Reblak
        [/filter]

        [message]
            id=Ah-Reblak
            message= _ "Should never have trusted the fool."
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    # give the enemy reinforcements otherwise it is to easy
    [event]
        name=turn 4, turn 8, turn 12, turn 16
        first_time_only=no

        [gold]
            side=4
            amount=70
        [/gold]
    [/event]

    [event]
        name=turn 5, turn 10, turn 15
        first_time_only=no

        [gold]
            side=3
            amount=70
        [/gold]
    [/event]

    [event]
        name=enemies defeated
        id=victory_island

        [message]
            id=Meneldur
            message= _ "Well, we've cleared the orcs away. Come on, now you have to hold up your end of the bargain."
        [/message]
        [message]
            id=Ah-Reblak
            message= _ "The orcs will probably be back soon... I think that we are going to end up dying here, no matter what you do. We have held up extraordinarily long already."
        [/message]
        [message]
            id="Black the Red"
            message= _ "That's true. I think it would be best if we could get enough ships to get off of this island. The one I went out on was our last, and we can't make more."
        [/message]
        [message]
            id=Meneldur
            message= _ "Well, I am a shipbuilder. I could help you build more ships, and then you could bring all of your people back east with us."
        [/message]
        [message]
            id="Black the Red"
            message= _ "That sounds good."
        [/message]
        [message]
            id=Madru
            message= _ "Then it is agreed. But after that, you have to help us fight the orcs!"
        [/message]

        [gold]
            side=1
            amount=200
        [/gold]

        [modify_unit]
            [filter]
                side=2
            [/filter]
            side=1
        [/modify_unit]

        [unit]
            side=1
            x,y=recall,recall
            type=Revenant
        [/unit]
        [unit]
            side=1
            x,y=recall,recall
            type=Revenant
        [/unit]
        [unit]
            side=1
            x,y=recall,recall
            type=Revenant
        [/unit]
        [unit]
            side=1
            x,y=recall,recall
            type=Bone Shooter
        [/unit]
        [unit]
            side=1
            x,y=recall,recall
            type=Bone Shooter
        [/unit]
        [unit]
            side=1
            x,y=recall,recall
            type=Deathblade
        [/unit]

        {JOIN_CREW 2 1}
        {JOIN_CREW 3 1}
        {JOIN_CREW 4 1}
        {SE_ENDLEVEL fake2}
    [/event]
[/scenario]
