#textdomain wesnoth-Saving_Elensefar_Redux

[scenario]
    id=sea_voyage_a_kings_demand
    next_scenario=sea_voyage_off_the_peninsula
    name= _ "A King's Demand"
    map_data="{~add-ons/Saving_Elensefar_Redux/maps/i10-A_Kings_Demand.map}"
    random_start_time=no

    turns=24

    {SAVING_ELENSEFAR_SHEDULE}
    {MOOD_NORMAL}

    {DEATHS_SEA}
    {RECRUIT_LIMIT 6}
    {GIVE_EXP 10}

    [side]
        side=1
        [leader]
            {MENELDUR}
        [/leader]

        {HUMAN_SIDE}
    [/side]

    [side]
        side=2
        [leader]
            id=Handran
            name= _"Handran"
            type=Lieutenant
        [/leader]

        gold=170
        recruit=Naga Fighter,Spearman,Cavalryman,Bowman,Mage
        user_team_name= _"Far West"

        {BAD_AI}
        {FLAG_VARIANT loyalist}

        {GENERIC_AI}
    [/side]

    [side]
        side=3
        [leader]
            id=Narian
            name= _"Nadrian"
            profile="portraits/humans/grand-knight-2.png"
            type=General
        [/leader]

        gold=250
        recruit=Swordsman,Longbowman,Dragoon,Red Mage
        user_team_name= _"Far West"

        {BAD_AI}
        {FLAG_VARIANT loyalist}

        {GENERIC_AI}
    [/side]

    [event]
        name=prestart

        [objectives]
            [objective]
                description= _ "Defeat the enemy leaders"
                condition=win
            [/objective]
            {DEATH_OF_LEADERS}
            {TURNS_RUN_OUT}
            {SER_GOLD_CARRYOVER}
        [/objectives]

        {RECALL_LOYALS}
    [/event]

    {STARTING_VILLAGES 2 6}
    {STARTING_VILLAGES 3 6}

    [event]
        name=side turn

        [message]
            id=Narian
            message= _ "It is the traitor who killed Aldran and Thendol approaching! Prepare to destroy him."
        [/message]
        [message]
            id=Narian
            message= _ "Meneldur! I bear a message from the King! If you surrender now, your life will be spared. The King is even willing to aid you in your quest to regain Elensefar. But you must pledge allegiance to the Throne again, and agree to aid it in its battles."
        [/message]
        [message]
            id="Black the Red"
            message= _ "Hah! And what will you do with me and my kind, who have joined with Meneldur and are bound to him? Doubtlessly you would kill us."
        [/message]
        [message]
            id=Madru
            message= _ "He is right. We can defeat these forces, and rid this area of their lordship."
        [/message]
        [message]
            id=Handran
            message= _ "Your ship has been captured by others of us. You do not know what awaits you further up the isle... I tell you, if you refuse this you are a dead man, whether I die or not."
        [/message]
        [message]
            id=Meneldur
            message= _ "Your threats do not scare me. Prepare for battle, men!"
        [/message]
        [message]
            id=Narian
            message= _ "Very well, you have chosen. Handran, send a scout to the leader and tell her Meneldur has refused our offer. She will be most displeased."
        [/message]

        [move_unit_fake]
            x=17,17,17,17,17,17,18,18,18
            y=9,8,7,6,5,4,3,2,1
            side=2
            type=Cavalryman
        [/move_unit_fake]

        [delay]
            time=500
        [/delay]

        [message]
            id="Black the Red"
            message= _ "I wonder what that was all about..."
        [/message]
    [/event]

    [event]
        name=enemies defeated
        id=victory_island

        [delay]
            time=500
        [/delay]

        [unit]
            side=1
            x,y=9,8
            {CONSCRIPT}
        [/unit]

        [message]
            id=Conscript
            message= _ "Meneldur! It seems that our commanders and our best fighters have been killed. If you leave us now, we will probably die, since only they knew how to command our ship. Have mercy, and help us!"
        [/message]
        [message]
            id=Meneldur
            message= _ "What would you have me do? Give you navigators to help you? Why would I do that for an enemy?"
        [/message]
        [message]
            id=Conscript
            message= _ "Well, why don't you let us join you? There is nothing else for us to do."
        [/message]
        [message]
            id=Madru
            message= _ "Wouldn't that make you a traitor?"
        [/message]
        [message]
            id=Conscript
            message= _ "No, since I don't think you are traitors, and my commander is dead. It is just joining another battalion."
        [/message]
        [message]
            id="Black the Red"
            message= _ "Well, if he puts it that way, why should we refuse? We can always use fresh recruits."
        [/message]
        [message]
            id=Meneldur
            message= _ "Very well... now, we will move further down the peninsula to regain our ship."
        [/message]

        {JOIN_CREW 2 2}
        {JOIN_CREW 3 2}
        {SE_ENDLEVEL off_the_peninsula}
    [/event]
[/scenario]
