#textdomain wesnoth-Saving_Elensefar_Redux

[scenario]
    id=sea_voyage_off_the_peninsula
    next_scenario=sea_voyage_0
    name= _ "Off the Peninsula"
    map_data="{~add-ons/Saving_Elensefar_Redux/maps/i11-Off_the_Peninsula.map}"
    random_start_time=no

    turns=18

    {SAVING_ELENSEFAR_SHEDULE}
    {MOOD_NORMAL}

    {DEATHS_SEA}
    {RECRUIT_LIMIT 6}
    {GIVE_EXP 10}

    [side]
        side=1
        [leader]
            {MENELDUR}
        [/leader]

        {HUMAN_SIDE}
    [/side]

    [side]
        side=2
        [leader]
            id=Lomanyas
            name= _"Lomanyas"
            type=Elvish Enchantress
        [/leader]

        gold=450
        recruit=Elvish Hero,Elvish Ranger,Elvish Marksman,Elvish Rider,Swordsman,Pikeman
        user_team_name= _"Elvish Offshore"

        {BAD_AI}
        {FLAG_VARIANT wood-elvish}

        {GENERIC_AI}
    [/side]

    [event]
        name=prestart

        [objectives]
            [objective]
                description= _ "Defeat the enemy leader"
                condition=win
            [/objective]
            {DEATH_OF_LEADERS}
            {TURNS_RUN_OUT}
            {SER_GOLD_CARRYOVER}
        [/objectives]

        {RECALL_LOYALS}
    [/event]

    {STARTING_VILLAGES_ALL 2}

    [event]
        name=side turn

        [if]
            {VARIABLE_CONDITIONAL fought_elves_yet equals yes}
            [then]
                [message]
                    id=Lomanyas
                    message= _ "I heard about your defeat of the elves on the isle, and I knew you'd probably show up here sooner or later."
                [/message]
                [message]
                    id=Meneldur
                    message= _ "I might have known. You must be the leader of these men; I wouldn't put aligning with men below you, after you surrendered to orcs!"
                [/message]
                [message]
                    id=Lomanyas
                    message= _ "'Surrendered' is not the way I would put it, but fine, have it your way."
                [/message]
            [/then]
            [else]
                [message]
                    id=Lomanyas
                    message= _ "So, it is the traitor returning to greet his foe. How pleasant."
                [/message]
                [message]
                    id=Meneldur
                    message= _ "What are you doing here? My quarrel is with the Wesnothians, not with you."
                [/message]
                [message]
                    id=Lomanyas
                    message= _ "I am the men's captain, so those who quarrel with them quarrel with me. We elves and men have aligned to bring you down!"
                [/message]
                [message]
                    id=Meneldur
                    message= _ "Think what you like. We will fight you if need be."
                [/message]
            [/else]
        [/if]

        [message]
            id=Lomanyas
            message= _ "Oh, and I see some of the Wesnothians you found are turncoats. Don't worry, they will die also."
        [/message]
    [/event]

    [event]
        name=enemies defeated
        id=victory_island

        {VARIABLE fought_men_yet yes}

        [if]
            {VARIABLE_CONDITIONAL fought_elves_yet equals yes}
            [then]
                [message]
                    id=Meneldur
                    message= _ "With Lomanyas dead, I think we have defeated all of the Elves who sail the sea. We probably won't see them until we reach Elensefar..."
                [/message]
            [/then]
            [else]
                [message]
                    id=Meneldur
                    message= _ "It is unfortunate the elves have also decided to oppose us. I suspect there are more of them roaming the seas."
                [/message]
            [/else]
        [/if]

        {LOOKUP_INDEX ships id Explorer temp_i}

        {VARIABLE ships[$temp_i].x 31}
        {VARIABLE ships[$temp_i].y 16}
        {CLEAR_VARIABLE temp_i}

        {JOIN_CREW 2 2}
        {SE_ENDLEVEL 0}
    [/event]
[/scenario]
