#textdomain wesnoth-Saving_Elensefar

[scenario]
    id=sea_voyage_18
    next_scenario=sea_voyage_0
    victory_when_enemies_defeated=no
    name= _ "Cave of Illirien"
    map_data="{~add-ons/Saving_Elensefar/maps/Cave_Illirien.map}"
    {TURNS 24 20 18}

    {UNDERGROUND}
    {MOOD_NORMAL}
    {VICTORY_AND_DEFEAT_MUSIC}

    {MENELDUR_SIDE}
    [+side]
        income=-1
        shroud=yes
        fog=yes
    [/side]

    [side]
        side=2
        controller=ai
        no_leader=yes
        team_name=cave
        user_team_name= _"Cave Hidders"
        {SIMLE_TARGETING}
    [/side]

    [side]
        side=3
        controller=null
        no_leader=yes
        team_name=statues
        hidden=yes
    [/side]

#define PETRIFIED_UNIT TYPE X Y
    [unit]
        type={TYPE}
        x,y={X},{Y}
        side=3
        generate_name=yes
        random_traits=yes
        [status]
            petrified=yes
        [/status]
    [/unit]
    [event]
        name=moveto

        [filter]
            side=1
            [filter_adjacent]
                x,y={X},{Y}
            [/filter_adjacent]
        [/filter]

        [message]
            speaker=unit
            message= _ "A Monster!"
        [/message]

        [modify_unit]
            [filter]
                x,y={X},{Y}
            [/filter]
            
            side=1
            [status]
				petrified=no
			[/status]
        [/modify_unit]
    [/event]
#enddef

    [event]
        name=prestart

        [objectives]
            side=1

            [objective]
                description= _ "Explore the Cave"
                condition=win
            [/objective]
            [objective]
                description= _ "Capture 6 villages"
                condition=win
                [show_if]
                    [variable]
                        name=first_village
                        equals=yes
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Death of Meneldur"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Madru"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Black the Red"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
        [/objectives]

        {PETRIFIED_UNIT (Elder Wose) 7 19}
        {PETRIFIED_UNIT (Giant Spider) 16 17}
        {PETRIFIED_UNIT (Cuttle Fish) 25 9}
    [/event]

    {DEATHS_SEA}
    {START_A_SCENE 30 1 17 2 17 4 18}

    [event]
        name=start

        {RECALL_MOST_EXPERIENCED (
            [not]
                race=merman
                [or]
                    type=Cuttle Fish,Giant Spider
                [/or]
                [or]
                    race=elf
                [/or]
            [/not]
        ) 4 3 2}

        [fire_event]
            name=supply_calculation
        [/fire_event]

        [delay]
            time=500
        [/delay]
        [message]
            id="Black the Red"
            message= _ "Long time ago this was a smugglers hole, a helthy one. Althought I feel that it is abandoned for years."
        [/message]
        [message]
            id=Meneldur
            message= _ "Why did they leave? It is to far away from normal wesnothian trade routes."
        [/message]
        [message]
            id="Black the Red"
            message= _ "But not far away sufficient"
        [/message]
        [message]
            id="Black the Red"
            message= _ "And there are rumors that obscure shadows had settled here"
        [/message]
        [message]
            id=Madru
            message= _ "How it be, let us see if we found some food, our is nearly gone"
        [/message]
    [/event]

    [event]
        name=capture
        first_time_only=no

        [filter_condition]
            [variable]
                name=villages.$x1|_$y1
                not_equals=captured
            [/variable]
        [/filter_condition]

        {VARIABLE villages.$x1|_$y1 captured}

        [delay]
            time=500
        [/delay]

        {IF_VAR first_village not_equals yes (
            [then]
                [message]
                    speaker=unit
                    message= _ "I found some provision!"
                [/message]
                [message]
                    speaker=narrator
                    message= _ "Capture at least 6 villages to restock your ship"
                [/message]
                {VARIABLE first_village yes}
                {VARIABLE_OP turnsleft add 1}
            [/then]
            [else]
                {IF_VAR turnsleft less_than 6 (
                    [then]
                        {VARIABLE_OP turnsleft add 1}
                    [/then]
                )}
                [message]
                    id=Madru
                    message= _ "We now have $turnsleft| provisions"
                [/message]
            [/else]
        )}
    [/event]

    [event]
        name=new turn
        first_time_only=no

        [store_unit]
            [filter]
                side=2
            [/filter]
            variable=temp
        [/store_unit]

        [store_reachable_locations]
            [filter]
                side=1
            [/filter]
            range=vision
            variable=loc
        [/store_reachable_locations]

        {VARIABLE A $temp.length}
        [while]
            [variable]
                name=A
                {QUANTITY less_than_equal_to 6 9 12}
            [/variable]
            [do]
                {SCATTER_UNITS 3 "Giant Rat,Giant Mudcrawler,Vampire Bat,Giant Scorpion" 9 (
                    x,y=1-999,1-999
                    [not]
                        find_in=loc
                    [/not]
                    [not]
                        terrain=Wo,Xuce,Ms^Xm
                    [/not]
                )(
                    side=2
                    ai_special=guardian
                )}
                {VARIABLE_OP A add 3}
            [/do]
        [/while]
        {CLEAR_VARIABLE A,temp,loc}
    [/event]

    [event]
        name=time over
        first_time_only=no
        {SE_ENDLEVEL no no}
    [/event]

    [event]
        name=victory,defeat
        {CLEAR_VARIABLE first_village,villages}
    [/event]
[/scenario]

#undef PETRIFIED_UNIT TYPE X Y
