#textdomain wesnoth-Saving_Elensefar

[scenario]
    id=sea_voyage_4
    next_scenario=sea_voyage_0
    name= _ "Back to the Ship"
    map_data="{~add-ons/Saving_Elensefar/maps/Back_to_the_Ship.map}"
    {GIVE_EXP 24 20 18}

    {SE_SCHEDULE}
    {MOOD_NORMAL}
    {VICTORY_AND_DEFEAT_MUSIC}

    {MENELDUR_SIDE}
    [+side]
        shroud=yes
        fog=no
    [/side]

    [side]
        side=2
        controller=ai
        id=Dur-Galba
        name= _"Dur-Galba"
        type=Orcish Warlord
        canrecruit=yes
#ifdef EASY
        recruit=Orcish Grunt,Troll Whelp,Orcish Archer
#endif
#ifdef NORMAL
        recruit=Orcish Grunt,Troll Whelp,Orcish Archer,Orcish Assassin
#endif
#ifdef HARD
        recruit=Orcish Grunt,Orcish Warrior,Troll Whelp,Orcish Archer,Orcish Assassin
#endif

        {GOLD 125 150 190}
        income=10
        team_name=bad
        user_team_name= _"Ocean Orcs"
        {GENERIC_AI}
        {HIGH_PRIORIORITY_TARGET}
        #{SPECIAL_HERO_TARGETING "Psison"}
    [/side]

    [side]
        side=3
        controller=ai
        team_name=bad
        user_team_name= _"Thiefs"
        id=Slal
        name= _"Slal"
        canrecruit=yes
#ifdef EASY
        type=Naga Warrior
        recruit=Naga Fighter
#else
        type=Naga Myrmidon
        recruit=Naga Fighter,Naga Warrior
#endif
        {GOLD 70 100 150}
        {INCOME 6 8 10}
        {GENERIC_AI}
        {SPECIAL_HERO_TARGETING "Psison"}
    [/side]

    {STARTING_VILLAGES 3 9}
    {STARTING_VILLAGES 2 6}

    [event]
        name=prestart

        [objectives]
            side=1
            [objective]
                description= _ "Defeat enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Meneldur"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Madru"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Black the Red"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Psison"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
        [/objectives]
    [/event]

    {DEATHS_SEA}

    [event]
        name=start

        [store_unit]
            [filter]
                id=Meneldur
            [/filter]
            variable=temp
        [/store_unit]

        [recall]
            id=Madru
            x,y=$temp.x,$temp.y
        [/recall]
        [recall]
            id="Black the Red"
            x,y=$temp.x,$temp.y
        [/recall]

        [recall]
            id=Psison
            x,y=$temp.x,$temp.y
        [/recall]
        {CLEAR_VARIABLE temp}

        [fire_event]
            name=supply_calculation
        [/fire_event]

        [delay]
            time=1000
        [/delay]
        [message]
            id=Meneldur
            message= _ "Time to get our ship back. These islands are inhabited, there should be a harbor *somewhere*."
        [/message]
        [message]
            id=Psison
            message= _ "These Nagas don't leave us alone! They're here again, and the ship is here somewhere too."
        [/message]
    [/event]

    {ON_SIGHTING (sighted_orcs) 1 side=2 (
        [message]
            speaker=unit
            message= _ "Orcs! More orcs!"
        [/message]
    )}

    {ON_SIGHTING (sighted_nagas) 1 race=naga (
        [message]
            id=Psison
            message= _ "I knew there were nagas around here..."
        [/message]
    )}

    [event]
        name=enemies defeated

        [message]
            id="Black the Red"
            message= _ "Now, to the harbor, and back on to the ship!"
        [/message]
        [message]
            id=Psison
            message= _ "I will leave you now, but the fighters who fought for you will still help you, they say."
        [/message]

        [kill]
            id=Psison
        [/kill]

        {VARIABLE shippy.x 32}
        {VARIABLE shippy.y 12}

        {SE_ENDLEVEL yes no}
    [/event]
[/scenario]
