#textdomain wesnoth-Saving_Elensefar

#define DISABLE_UPKEEP SIDE
    # Disables upkeep (and income) for the given side.
    [event]
        name=side {SIDE} turn
        first_time_only=no

        [store_gold]
            side={SIDE}
            variable=upkeep_mitigation_gold_container_{SIDE}
        [/store_gold]
    [/event]
    [event]
        name=side {SIDE} turn refresh
        first_time_only=no

        [modify_side]
            side={SIDE}
            gold=$upkeep_mitigation_gold_container_{SIDE}
        [/modify_side]
        {CLEAR_VARIABLE upkeep_mitigation_gold_container_{SIDE}}
    [/event]
#enddef

#define SUPPLY_SIDE_ECONOMICS SIDE ADDITIONAL_FILTER MESSAGE
    # Disable normal per-turn upkeep:
    {DISABLE_UPKEEP {SIDE}}
    [event]
        name=supply_calculation

        [store_gold]
            side={SIDE}
        [/store_gold]

        # all units (except leaders and monsters)
        [store_unit]
            [filter]
                side={SIDE}
                {ADDITIONAL_FILTER}
            [/filter]
            variable=supply_calculation_units_list
        [/store_unit]

        {IF_VAR scenario_number greater_than 2 (
            [then]
                [message]
                    speaker=narrator
                    image="portraits/Madru.png"
                    caption= _ "Madru"
                    message=_ "We have taken $scenario_number weeks, our troops are impacient for returning to Elensefar."
                [/message]
            [/then]
        )}

        {VARIABLE_OP scenario_number add 1}

        [modify_side]
            side={SIDE}
            gold="$($gold - $supply_calculation_units_list.length)"
        [/modify_side]

        [store_gold]
            side={SIDE}
        [/store_gold]

        {IF_VAR gold less_than_equal_to 0 (
            [then]
                [message]
                    speaker=narrator
                    image="portraits/Madru.png"
                    caption= _ "Madru"
                    message={MESSAGE}
                [/message]
                [endlevel]
                    result=defeat
                [/endlevel]
            [/then]
        )}
        {CLEAR_VARIABLE (gold,supply_calculation_units_list)}
        {VARIABLE supply_calculation yes}
    [/event]

    # Deduct combat supplies at the end of the scenario:
    [event]
        name=victory

        [filter_condition]
            [variable]
                name=supply_calculation
                equals=yes
            [/variable]
        [/filter_condition]

        [store_gold]
            side={SIDE}
        [/store_gold]

        # all units on map
        [store_unit]
            [filter]
                side={SIDE}
                {EVERYWHERE}
                {ADDITIONAL_FILTER}
            [/filter]
            variable=supply_calculation_units_list
        [/store_unit]

        # make life easier for translators
        {VARIABLE units "$supply_calculation_units_list.length"}
        {VARIABLE supply_cost "$($scenario_number * $supply_calculation_units_list.length)"}

        [message]
            speaker=narrator
            image="portraits/Madru.png"
            caption= _ "Madru"
            message=_ "We have to pay $supply_cost upkeep to $units soldiers for their efford in this battle."
        [/message]

        [modify_side]
            side={SIDE}
            gold="$($gold - $scenario_number * $supply_calculation_units_list.length)"
        [/modify_side]

        {CLEAR_VARIABLE (gold,supply_calculation_units_list,units,supply_cost,supply_calculation)}
    [/event]
#enddef
