#textdomain wesnoth-Saving_Elensefar_Redux

[unit_type]
    [base_unit]
        id=Pirate Galleon
    [/base_unit]
    id=War Galleon
    name= _ "War Galleon"
    image="units/transport/galleon.png"

    description=_"The Royal Navy of Wesnoth owns a powerful fleet of deadly war galleons. Their task is to hunt down pirates - or whoever they choose to call pirates - and destroy them."
[/unit_type]
